.emails {
  line-height: 1;
  font-family: 'SF Pro Text';
  font-size: 1em;

  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: calc(100% - 10px);
  max-height: 90px;
  overflow: auto;

  &-input {
    display: inline-block;
    border: 0;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    min-height: 28px;
    padding: 0px;
    flex-grow: 1;
  }
}
