.App {
  .email-form {
    width: 677px;
    height: 408px;
    background: white;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 8px;

    .row {
      padding: 6px 0px 6px 18px;
    }

    .divider {
      width: calc(100% + 16px);
      height: 1px;
      background: #dadcde;
      margin: 12px 0px;
      margin-left: -8px;
    }

    label {
      font-family: 'Proxima Nova';
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.25px;
      line-height: 20px;
      color: #8f8d91;
      padding-right: 10px;
    }

    .row-from {
      span {
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        color: #1a1818;
      }
    }
    .row-to {
      display: flex;
      align-items: center;
    }
  }
}
