@import url(//db.onlinewebfonts.com/c/28adc6c6fd652123c3e173389a8be17f?family=SF + Pro + Text);
@import url(//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular);

@font-face {
  font-family: 'SF Pro Text';
  src: url('//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.eot');
  src: url('//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.eot?#iefix') format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.svg#SF Pro Text') format('svg');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.eot');
  src: url('//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.eot?#iefix') format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.svg#ProximaNova-Regular') format('svg');
}

body {
  margin: 0;
  font-family: 'SF Pro Text';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
